<a href="https://colab.research.google.com/github/TungSoPon/BasicProg_DataViz65/blob/main/Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1323]:
from google.colab import drive 
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [1324]:
import os
os.chdir('/content/gdrive/MyDrive/Project_BPDV')

!pwd

/content/gdrive/MyDrive/Project_BPDV

In [1325]:
!ls

opecdata_eating_score_C.csv  opendata_living_score.csv
opendata_eating_score.csv    opendata_project_C.csv
opendata_interest_C.csv      opendata_project.csv
opendata_interest.csv	     opendata_unittype_C.csv
opendata_living_score_C.csv  opendata_unittype.csv

##นำข้อมูลเข้า

In [1326]:
import pandas as pd

In [1327]:
opendata_project = pd.read_csv('opendata_project.csv')
print(opendata_project.shape)
opendata_project

(23434, 45)

,row_number,project_id,name_en,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,price_min,developer_id,developer_name_en,...,facility_meeting,facility_park,facility_playground,facility_pool,facility_security,date_created,date_finish,date_updated,source,url_project
0,7880.0,5ee08d64dda791001299b2a6,Winning Residence Sukhumvit Praksa,วินนิ่ง เรสซิเดนท์ สุขุมวิท แพรกษา,1,Detached House,บ้าน,3790000.0,developer_10678,"Winning Asset Plus Co., Ltd.",...,NaN,NaN,NaN,1.0,1.0,2020-06-10 14:36:04,NaN,2020-12-04 10:32:58,baania,https://baania.com/th/project/วินนิ่ง-เรสซิเดน...
1,16689.0,project_11326,Gift Condominium,กิ๊ฟท์ คอนโดมิเนียม,2,Condo,คอนโด,1100000.0,developer_7319,"Gift Asset Land Co.,Ltd.",...,NaN,1.0,NaN,1.0,1.0,2017-10-30 15:38:48,2013-01-01 07:00:00,2020-12-04 10:49:00,baania,https://baania.com/th/project/กิ๊ฟท์-คอนโดมิเน...
2,290.0,62739c4089233e001362b001,Sanrak 9 Sukprayoon Nong Krathum,แสนรัก 9 ศุขประยูร หนองกระทุ่ม,3,Townhome,ทาวน์โฮม,0.0,developer_10510,NaN,...,NaN,NaN,NaN,NaN,NaN,2022-05-05 16:43:28,NaN,2022-05-05 17:30:03,baania,https://baania.com/th/project/แสนรัก-9-ศุขประย...
3,20719.0,project_2010,Baan Sansabai 1,บ้านแสนสบาย 1,1,Detached House,บ้าน,0.0,developer_10510,NaN,...,NaN,NaN,NaN,NaN,NaN,2016-09-05 15:32:15,1970-01-02 07:00:00,2020-12-04 10:45:31,baania,https://baania.com/th/project/บ้านแสนสบาย-1-pr...
4,199.0,project_16838,Baanpruksa Ratchapruek-345,บ้านพฤกษา ราชพฤกษ์-345,3,Townhome,ทาวน์โฮม,1930000.0,developer_1026,"Preuksa Real Estate Co.,Ltd.",...,NaN,1.0,NaN,1.0,1.0,2019-09-05 11:49:37,1970-01-02 07:00:00,2021-03-17 12:00:04,baania,https://baania.com/th/project/บ้านพฤกษา-ราชพฤก...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23429,12883.0,project_12317,Baan Klangmeung Urbanion Ladphrao-Chokchai 4,บ้านกลางเมือง เออร์บาเนี่ยน ลาดพร้าว-โชคชัย 4,3,Townhome,ทาวน์โฮม,5700000.0,developer_1760,"AP (Thailand) Co,. Ltd",...,NaN,1.0,1.0,NaN,1.0,2017-12-06 13:10:23,1970-01-02 07:00:00,2020-12-04 10:42:15,baania,https://baania.com/th/project/บ้านกลางเมือง-เอ...
23430,21181.0,project_12057,@Home Kaset-Nawamin,แอทโฮม เกษตร-นวมินทร์,3,Townhome,ทาวน์โฮม,3590000.0,developer_1793,"Areeya Property Co.,Ltd.",...,NaN,NaN,NaN,NaN,1.0,2017-11-30 11:12:12,1970-01-02 07:00:00,2022-06-06 16:30:06,baania,https://baania.com/th/project/แอทโฮม-เกษตร-นวม...
23431,13993.0,project_4461,I-Design Wongwaen-Ramintra,ไอ-ดีไซน์ วงแหวน-รามอินทรา,4,Commercial,อาคารพาณิชย์,1870000.0,developer_2217,"Wangthong Group Pub Co., Ltd.",...,NaN,1.0,1.0,NaN,1.0,2017-03-02 11:07:30,2014-12-31 07:00:00,2020-12-04 10:42:33,baania,https://baania.com/th/project/ไอ-ดีไซน์-วงแหวน...
23432,5889.0,project_144,Koolpunt Ville 15 Park Avenue,กุลพันธ์วิลล์ 15 พาร์ค อเวนิว,1,Detached House,บ้าน,4000000.0,developer_1004,"Homeland Service Co., Ltd.",...,NaN,1.0,1.0,1.0,1.0,2015-09-28 09:00:28,2020-01-01 07:00:00,2022-01-10 15:00:13,baania,https://baania.com/th/project/กุลพันธ์วิลล์-15...
23433,5529.0,project_16300,Thawisuk Garden Home,ทวีสุข การ์เด้นโฮม,1,Detached House,บ้าน,2800000.0,developer_10510,NaN,...,NaN,NaN,NaN,NaN,NaN,2019-07-05 17:10:33,1970-01-02 07:00:00,2020-12-04 10:45:22,baania,https://baania.com/th/project/ทวีสุข-การ์เด้นโ...

In [1328]:
opendata_unittype = pd.read_csv('opendata_unittype.csv')
print(opendata_unittype.shape) 
opendata_unittype

(42625, 27)

,row_number,unittype_id,project_id,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,area_total_min_wa,area_usable_min,price_min,...,count_room_guest,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility,date_created,date_updated,source,url_unittype
0,27501,unittype_9565,project_2446,2 Bedroom,2,Condo,คอนโด,NaN,37.3,2500000.0,...,1.0,1.0,NaN,NaN,NaN,NaN,2021-11-19 18:00:09,2021-11-19 17:44:45,baania,https://baania.com/th/project/เฟ-ลิค-คอนโด-ลาด...
1,28777,unittype_10267,project_3543,บ้านแฝดสองชั้น Z-2,20000,Twin house,บ้านแฝด,40.0,150.0,2390000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-27 14:30:04,2022-01-27 14:22:55,baania,https://baania.com/th/project/เซน-บาย-ศิวาลัย-...
2,28865,unittype_471,project_143,1 Bedroom Type B,2,Condo,คอนโด,NaN,28.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-14 15:00:10,2022-01-14 14:40:04,baania,https://baania.com/th/project/วันพลัส-นายน์ทีน...
3,24988,unittype_19506,project_7766,Studio Floor 1-2,2,Condo,คอนโด,NaN,27.0,170000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-04 10:40:59,2020-10-14 01:06:48,baania,https://baania.com/th/project/บ้านสวนชมน้ำ-776...
4,38596,unittype_10290,project_3551,TH 3,3,Townhome,ทาวน์โฮม,NaN,182.0,2390000.0,...,1.0,1.0,NaN,NaN,2.0,NaN,2021-11-12 13:30:08,2021-02-03 12:12:54,baania,https://baania.com/th/project/เบล็สทาวน์-ศรีนค...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42620,37109,unittype_38508,project_16864,Canola,1,Detached House,บ้าน,NaN,157.0,NaN,...,NaN,1.0,NaN,NaN,NaN,NaN,2021-11-12 13:22:37,2020-10-14 10:05:42,baania,https://baania.com/th/project/อิคอนเนเจอร์-พระ...
42621,14,unittype_14016,project_5275,Grandeur,1,Detached House,บ้าน,NaN,223.0,7490000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-04 10:36:32,2020-10-14 00:37:51,baania,https://baania.com/th/project/คาซ่า-วิลล์-ราชพ...
42622,41009,617bde1687dd2300149d2195,617bdd47f62011001350de07,Grande,3,Townhome,ทาวน์โฮม,NaN,133.0,NaN,...,1.0,NaN,NaN,NaN,NaN,NaN,2021-11-12 13:34:17,2021-10-29 18:43:09,baania,https://baania.com/th/project/เดอะริคโค้-ทาวน์...
42623,9333,unittype_37375,project_16389,บ้านเดี่ยวชั้นเดียว,1,Detached House,บ้าน,NaN,180.0,3200000.0,...,NaN,1.0,NaN,NaN,NaN,NaN,2020-12-04 10:42:26,2020-10-14 19:30:46,baania,https://baania.com/th/project/ณรงค์กิจ-รามอินท...
42624,780,unittype_17011,project_6762,บ้านธารา,1,Detached House,บ้าน,NaN,170.0,3790000.0,...,1.0,1.0,NaN,NaN,NaN,NaN,2021-11-12 13:19:43,2020-10-14 00:41:39,baania,https://baania.com/th/project/วราสิริ-รังสิต-ด...

In [1329]:
opendata_eating_score = pd.read_csv('opendata_eating_score.csv')
print(opendata_eating_score.shape) 
opendata_eating_score

(554, 20)

,row_number,subdistrict_id,subdistrict_name_en,subdistrict_name_th,district_id,district_name_en,district_name_th,province_id,province_name_en,province_name_th,eating_daytime,eating_daytime_price,eating_daytime_quality,eating_daytime_variety,eating_nighttime,eating_nighttime_price,eating_nighttime_quality,eating_nighttime_variety,source,day
0,2,4001,HUAI KHWANG,ห้วยขวาง,4000,HUAI KHWANG,ห้วยขวาง,3781,Bangkok,กรุงเทพมหานคร,66.0,72.0,49.0,92.0,75.0,68.0,54.0,94.0,baania,2022-08-31
1,397,2632,THEP KRASATTRI,เทพกระษัตรี,2630,THALANG,ถลาง,2616,Phuket,ภูเก็ต,35.0,37.0,30.0,45.0,38.0,28.0,28.0,51.0,baania,2022-08-31
2,76,3509,PAK NAM,ปากน้ำ,3499,MUEANG SAMUT PRAKAN,เมืองสมุทรปราการ,3498,Samut Prakan,สมุทรปราการ,70.0,84.0,55.0,79.0,65.0,72.0,57.0,67.0,baania,2022-08-31
3,368,4628,SAMET,เสม็ด,4617,MUEANG CHON BURI,เมืองชลบุรี,4616,Chon Buri,ชลบุรี,68.0,67.0,56.0,97.0,69.0,41.0,54.0,94.0,baania,2022-08-31
4,531,1166,TON PAO,ต้นเปา,1164,SAN KAMPHAENG,สันกำแพง,1005,Chiang Mai,เชียงใหม่,44.0,36.0,47.0,51.0,47.0,22.0,61.0,52.0,baania,2022-08-31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
549,116,3726,THA TAMNAK,ท่าตำหนัก,3719,NAKHON CHAI SI,นครชัยศรี,3667,Nakhon Pathom,นครปฐม,65.0,68.0,56.0,76.0,64.0,71.0,64.0,61.0,baania,2022-08-31
550,151,3476,CHAK BOK,ชากบก,3474,BAN KHAI,บ้านค่าย,3431,Rayong,ระยอง,44.0,42.0,53.0,27.0,38.0,54.0,55.0,17.0,baania,2022-08-31
551,290,1015,MAE HIA,แม่เหียะ,1006,MUEANG CHIANG MAI,เมืองเชียงใหม่,1005,Chiang Mai,เชียงใหม่,66.0,58.0,68.0,72.0,64.0,49.0,68.0,70.0,baania,2022-08-31
552,69,1020,NONG PA KHRANG,หนองป่าครั่ง,1006,MUEANG CHIANG MAI,เมืองเชียงใหม่,1005,Chiang Mai,เชียงใหม่,69.0,58.0,67.0,91.0,72.0,46.0,67.0,89.0,baania,2022-08-31
553,35,1165,CHAE CHANG,แช่ช้าง,1164,SAN KAMPHAENG,สันกำแพง,1005,Chiang Mai,เชียงใหม่,34.0,38.0,35.0,26.0,32.0,32.0,49.0,19.0,baania,2022-08-31

In [1330]:
opendata_living_score = pd.read_csv('opendata_living_score.csv')
print(opendata_living_score.shape) 
opendata_living_score

(709, 28)

,row_number,subdistrict_id,subdistrict_name_en,subdistrict_name_th,district_id,district_name_en,district_name_th,province_id,province_name_en,province_name_th,...,access_train,access_total,drive_leisure,drive_public_service,drive_school,drive_shopping,drive_work,drive_total,source,day
0,634,3410,SANO LOI,โสนลอย,3402,BANG BUA THONG,บางบัวทอง,3372,Nonthaburi,นนทบุรี,...,1.0,79.0,100.0,100.0,100.0,100.0,100.0,100.0,baania,2022-09-30
1,619,3976,TALAT NOI,ตลาดน้อย,3973,SAMPHANTHAWONG,สัมพันธวงศ์,3781,Bangkok,กรุงเทพมหานคร,...,100.0,100.0,100.0,87.0,100.0,100.0,100.0,99.0,baania,2022-09-30
2,284,4669,BAN KAO,บ้านเก่า,4663,PHAN THONG,พานทอง,4616,Chon Buri,ชลบุรี,...,0.0,0.0,79.0,91.0,86.0,84.0,93.0,85.0,baania,2022-09-30
3,209,2647,BAN THUM,บ้านทุ่ม,2638,MUEANG KHON KAEN,เมืองขอนแก่น,2637,Khon Kaen,ขอนแก่น,...,0.0,0.0,73.0,65.0,73.0,57.0,47.0,62.0,baania,2022-09-30
4,615,3799,RAM INTHRA,รามอินทรา,3797,KHAN NA YAO,คันนายาว,3781,Bangkok,กรุงเทพมหานคร,...,5.0,39.0,99.0,61.0,99.0,90.0,84.0,89.0,baania,2022-09-30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
704,298,3545,BANG HUA SUEA,บางหัวเสือ,3533,PHRA PRADAENG,พระประแดง,3498,Samut Prakan,สมุทรปราการ,...,0.0,40.0,100.0,96.0,100.0,100.0,100.0,100.0,baania,2022-09-30
705,436,2627,KAMALA,กมลา,2626,KATHU,กะทู้,2616,Phuket,ภูเก็ต,...,0.0,0.0,67.0,65.0,60.0,65.0,65.0,65.0,baania,2022-09-30
706,17,2642,DAENG YAI,แดงใหญ่,2638,MUEANG KHON KAEN,เมืองขอนแก่น,2637,Khon Kaen,ขอนแก่น,...,0.0,0.0,82.0,76.0,75.0,74.0,61.0,75.0,baania,2022-09-30
707,378,1015,MAE HIA,แม่เหียะ,1006,MUEANG CHIANG MAI,เมืองเชียงใหม่,1005,Chiang Mai,เชียงใหม่,...,0.0,0.0,61.0,81.0,88.0,61.0,94.0,69.0,baania,2022-09-30
708,158,3686,SANAM CHAN,สนามจันทร์,3668,MUEANG NAKHON PATHOM,เมืองนครปฐม,3667,Nakhon Pathom,นครปฐม,...,0.0,0.0,100.0,97.0,98.0,100.0,100.0,99.0,baania,2022-09-30

In [1331]:
opendata_interest = pd.read_csv('opendata_interest.csv')
print(opendata_interest.shape) 
opendata_interest

(1763, 12)

,row_number,transction_year,transction_month,province_name_th,province_name_en,district_name_th,district_name_en,propertytype_name_th,propertytype_name_en,volume_of_project,interest,day
0,308,2020,1,นนทบุรี,Nonthaburi,บางใหญ่,BANG YAI,ทาวน์โฮม,Townhome,25,189,31/10/2022
1,21,2021,3,กรุงเทพมหานคร,Bangkok,จตุจักร,CHATUCHAK,บ้านแฝด,Twin house,8,45,31/10/2022
2,1207,2019,7,กรุงเทพมหานคร,Bangkok,จตุจักร,CHATUCHAK,คอนโด,Condo,46,131,31/10/2022
3,345,2019,2,นนทบุรี,Nonthaburi,บางบัวทอง,BANG BUA THONG,บ้าน,Detached House,27,562,31/10/2022
4,469,2019,9,นนทบุรี,Nonthaburi,ปากเกร็ด,PAK KRET,บ้าน,Detached House,38,381,31/10/2022
...,...,...,...,...,...,...,...,...,...,...,...,...
1758,1117,2020,4,กรุงเทพมหานคร,Bangkok,พระโขนง,PHRA KHANONG,โฮมออฟฟิศ,Home office,5,10,31/10/2022
1759,346,2020,7,นนทบุรี,Nonthaburi,บางใหญ่,BANG YAI,บ้าน,Detached House,11,93,31/10/2022
1760,812,2021,3,สมุทรปราการ,Samut Prakan,บางพลี,BANG PHLI,ทาวน์โฮม,Townhome,35,141,31/10/2022
1761,1762,2022,1,กรุงเทพมหานคร,Bangkok,ลาดพร้าว,LAT PHRAO,ทาวน์โฮม,Townhome,11,63,31/10/2022
1762,543,2019,9,นครปฐม,Nakhon Pathom,สามพราน,SAM PHRAN,ทาวน์โฮม,Townhome,22,986,31/10/2022

##Data Clean Project

In [1332]:
opendata_project.columns

Index(['row_number', 'project_id', 'name_en', 'name_th', 'propertytype_id',
       'propertytype_name_en', 'propertytype_name_th', 'price_min',
       'developer_id', 'developer_name_en', 'developer_name_th', 'latitude',
       'longitude', 'neighborhood_id', 'neighborhood_name_en',
       'neighborhood_name_th', 'subdistrict_id', 'subdistrict_name_en',
       'subdistrict_name_th', 'district_id', 'district_name_en',
       'district_name_th', 'province_id', 'province_name_en',
       'province_name_th', 'zipcode', 'count_elevator',
       'count_elevator_service', 'count_floor', 'count_parking', 'count_tower',
       'count_unit', 'count_unittype', 'facility_clubhouse',
       'facility_fitness', 'facility_meeting', 'facility_park',
       'facility_playground', 'facility_pool', 'facility_security',
       'date_created', 'date_finish', 'date_updated', 'source', 'url_project'],
      dtype='object')

In [1333]:
opendata_project = opendata_project[['project_id', 'name_en', 'name_th', 'propertytype_id',
       'propertytype_name_en', 'propertytype_name_th', 'price_min',
       'developer_id', 'developer_name_en', 'developer_name_th', 'latitude',
       'longitude', 'neighborhood_id', 'neighborhood_name_en',
       'neighborhood_name_th', 'subdistrict_id', 'subdistrict_name_en',
       'subdistrict_name_th', 'district_id', 'district_name_en',
       'district_name_th', 'province_id', 'province_name_en',
       'province_name_th', 'zipcode', 'count_elevator',
       'count_elevator_service', 'count_floor', 'count_parking', 'count_tower',
       'count_unit', 'count_unittype', 'facility_clubhouse',
       'facility_fitness', 'facility_meeting', 'facility_park',
       'facility_playground', 'facility_pool', 'facility_security',
       'date_created', 'date_finish', 'date_updated', 'source', 'url_project']]

In [1334]:
opendata_project

,project_id,name_en,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,price_min,developer_id,developer_name_en,developer_name_th,...,facility_meeting,facility_park,facility_playground,facility_pool,facility_security,date_created,date_finish,date_updated,source,url_project
0,5ee08d64dda791001299b2a6,Winning Residence Sukhumvit Praksa,วินนิ่ง เรสซิเดนท์ สุขุมวิท แพรกษา,1,Detached House,บ้าน,3790000.0,developer_10678,"Winning Asset Plus Co., Ltd.",บริษัท วินนิ่ง แอสเซท พลัส จำกัด,...,NaN,NaN,NaN,1.0,1.0,2020-06-10 14:36:04,NaN,2020-12-04 10:32:58,baania,https://baania.com/th/project/วินนิ่ง-เรสซิเดน...
1,project_11326,Gift Condominium,กิ๊ฟท์ คอนโดมิเนียม,2,Condo,คอนโด,1100000.0,developer_7319,"Gift Asset Land Co.,Ltd.",บริษัท กิฟท์ แอสเสท แลนด์ จำกัด,...,NaN,1.0,NaN,1.0,1.0,2017-10-30 15:38:48,2013-01-01 07:00:00,2020-12-04 10:49:00,baania,https://baania.com/th/project/กิ๊ฟท์-คอนโดมิเน...
2,62739c4089233e001362b001,Sanrak 9 Sukprayoon Nong Krathum,แสนรัก 9 ศุขประยูร หนองกระทุ่ม,3,Townhome,ทาวน์โฮม,0.0,developer_10510,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2022-05-05 16:43:28,NaN,2022-05-05 17:30:03,baania,https://baania.com/th/project/แสนรัก-9-ศุขประย...
3,project_2010,Baan Sansabai 1,บ้านแสนสบาย 1,1,Detached House,บ้าน,0.0,developer_10510,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2016-09-05 15:32:15,1970-01-02 07:00:00,2020-12-04 10:45:31,baania,https://baania.com/th/project/บ้านแสนสบาย-1-pr...
4,project_16838,Baanpruksa Ratchapruek-345,บ้านพฤกษา ราชพฤกษ์-345,3,Townhome,ทาวน์โฮม,1930000.0,developer_1026,"Preuksa Real Estate Co.,Ltd.",บริษัท พฤกษา เรียลเอสเตท จำกัด (มหาชน),...,NaN,1.0,NaN,1.0,1.0,2019-09-05 11:49:37,1970-01-02 07:00:00,2021-03-17 12:00:04,baania,https://baania.com/th/project/บ้านพฤกษา-ราชพฤก...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23429,project_12317,Baan Klangmeung Urbanion Ladphrao-Chokchai 4,บ้านกลางเมือง เออร์บาเนี่ยน ลาดพร้าว-โชคชัย 4,3,Townhome,ทาวน์โฮม,5700000.0,developer_1760,"AP (Thailand) Co,. Ltd",บริษัท เอพี (ไทยแลนด์) จำกัด (มหาชน),...,NaN,1.0,1.0,NaN,1.0,2017-12-06 13:10:23,1970-01-02 07:00:00,2020-12-04 10:42:15,baania,https://baania.com/th/project/บ้านกลางเมือง-เอ...
23430,project_12057,@Home Kaset-Nawamin,แอทโฮม เกษตร-นวมินทร์,3,Townhome,ทาวน์โฮม,3590000.0,developer_1793,"Areeya Property Co.,Ltd.",บริษัท อารียา พรอพเพอร์ตี้ จำกัด (มหาชน),...,NaN,NaN,NaN,NaN,1.0,2017-11-30 11:12:12,1970-01-02 07:00:00,2022-06-06 16:30:06,baania,https://baania.com/th/project/แอทโฮม-เกษตร-นวม...
23431,project_4461,I-Design Wongwaen-Ramintra,ไอ-ดีไซน์ วงแหวน-รามอินทรา,4,Commercial,อาคารพาณิชย์,1870000.0,developer_2217,"Wangthong Group Pub Co., Ltd.",บริษัท วังทองกรุ๊ป จำกัด (มหาชน),...,NaN,1.0,1.0,NaN,1.0,2017-03-02 11:07:30,2014-12-31 07:00:00,2020-12-04 10:42:33,baania,https://baania.com/th/project/ไอ-ดีไซน์-วงแหวน...
23432,project_144,Koolpunt Ville 15 Park Avenue,กุลพันธ์วิลล์ 15 พาร์ค อเวนิว,1,Detached House,บ้าน,4000000.0,developer_1004,"Homeland Service Co., Ltd.",บริษัท โฮมแลนด์ เซอร์วิส จำกัด,...,NaN,1.0,1.0,1.0,1.0,2015-09-28 09:00:28,2020-01-01 07:00:00,2022-01-10 15:00:13,baania,https://baania.com/th/project/กุลพันธ์วิลล์-15...
23433,project_16300,Thawisuk Garden Home,ทวีสุข การ์เด้นโฮม,1,Detached House,บ้าน,2800000.0,developer_10510,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2019-07-05 17:10:33,1970-01-02 07:00:00,2020-12-04 10:45:22,baania,https://baania.com/th/project/ทวีสุข-การ์เด้นโ...

Missing/Null Checking Project

In [1335]:
opendata_project.dtypes

project_id                 object
name_en                    object
name_th                    object
propertytype_id            object
propertytype_name_en       object
propertytype_name_th       object
price_min                  object
developer_id               object
developer_name_en          object
developer_name_th          object
latitude                  float64
longitude                 float64
neighborhood_id            object
neighborhood_name_en       object
neighborhood_name_th       object
subdistrict_id            float64
subdistrict_name_en        object
subdistrict_name_th        object
district_id               float64
district_name_en           object
district_name_th           object
province_id               float64
province_name_en           object
province_name_th           object
zipcode                   float64
count_elevator             object
count_elevator_service     object
count_floor                object
count_parking              object
count_tower                object
count_unit                float64
count_unittype            float64
facility_clubhouse        float64
facility_fitness          float64
facility_meeting          float64
facility_park             float64
facility_playground       float64
facility_pool             float64
facility_security         float64
date_created               object
date_finish                object
date_updated               object
source                     object
url_project                object
dtype: object

In [1336]:
opendata_project[opendata_project['longitude'].isnull()]

,project_id,name_en,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,price_min,developer_id,developer_name_en,developer_name_th,...,facility_meeting,facility_park,facility_playground,facility_pool,facility_security,date_created,date_finish,date_updated,source,url_project
5839,ขนส่งปทุม,3656.0,BANG PHO NUEA,บางโพธิ์เหนือ,3647,SAM KHOK,สามโคก,3599,Pathum Thani,ปทุมธานี,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8866,ขนส่งปทุม,3656.0,BANG PHO NUEA,บางโพธิ์เหนือ,3647,SAM KHOK,สามโคก,3599,Pathum Thani,ปทุมธานี,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14130,ขนส่งปทุม,3611.0,BAN CHANG,บ้านฉาง,3600,MUEANG PATHUM THANI,เมืองปทุมธานี,3599,Pathum Thani,ปทุมธานี,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21895,ขนส่งปทุม,3634.0,KHU BANG LUANG,คูบางหลวง,3630,LAT LUM KAEO,ลาดหลุมแก้ว,3599,Pathum Thani,ปทุมธานี,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23353,ขนส่งปทุม,3656.0,BANG PHO NUEA,บางโพธิ์เหนือ,3647,SAM KHOK,สามโคก,3599,Pathum Thani,ปทุมธานี,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [1337]:
opendata_project = opendata_project.dropna(subset=['longitude'])

In [1338]:
print(len(opendata_project[opendata_project['zipcode'].isnull()])) 
opendata_project = opendata_project.dropna(subset=['zipcode'])

27

In [1339]:
print(len(opendata_project[opendata_project['subdistrict_id'].isnull()])) 
opendata_project = opendata_project.dropna(subset=['subdistrict_id'])

9

In [1340]:
opendata_project = opendata_project.dropna(subset=['name_en','propertytype_name_en','price_min','name_th','propertytype_name_th'])

In [1341]:
opendata_project['developer_name_en'] = opendata_project['developer_name_en'].fillna('Unknown')
opendata_project['developer_name_th'] = opendata_project['developer_name_th'].fillna('Unknown')
opendata_project['neighborhood_id'] = opendata_project['neighborhood_id'].fillna('Unknown') 
opendata_project['neighborhood_name_en'] = opendata_project['neighborhood_name_en'].fillna('Unknown')
opendata_project['neighborhood_name_th'] = opendata_project['neighborhood_name_th'].fillna('Unknown')
opendata_project['date_finish'] = opendata_project['date_finish'].fillna('Unknown')

In [1342]:
opendata_project[['count_floor', 'count_unit','count_unittype']]  = opendata_project[['count_floor', 'count_unit','count_unittype']].fillna(1)
opendata_project[['count_elevator','count_floor','count_parking', 'count_elevator_service','count_tower']] = opendata_project[['count_elevator','count_floor','count_parking', 'count_elevator_service','count_tower']].fillna(0) 
# สิ่งอำนวยความสะดวก
opendata_project[['facility_clubhouse','facility_fitness','facility_meeting','facility_park','facility_playground','facility_pool','facility_security']] = opendata_project[['facility_clubhouse','facility_fitness','facility_meeting','facility_park','facility_playground','facility_pool','facility_security']].fillna(0)

In [1343]:
opendata_project.isnull().any()

project_id                False
name_en                   False
name_th                   False
propertytype_id           False
propertytype_name_en      False
propertytype_name_th      False
price_min                 False
developer_id              False
developer_name_en         False
developer_name_th         False
latitude                  False
longitude                 False
neighborhood_id           False
neighborhood_name_en      False
neighborhood_name_th      False
subdistrict_id            False
subdistrict_name_en       False
subdistrict_name_th       False
district_id               False
district_name_en          False
district_name_th          False
province_id               False
province_name_en          False
province_name_th          False
zipcode                   False
count_elevator            False
count_elevator_service    False
count_floor               False
count_parking             False
count_tower               False
count_unit                False
count_unittype            False
facility_clubhouse        False
facility_fitness          False
facility_meeting          False
facility_park             False
facility_playground       False
facility_pool             False
facility_security         False
date_created              False
date_finish               False
date_updated              False
source                    False
url_project               False
dtype: bool

In [1344]:
opendata_project

,project_id,name_en,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,price_min,developer_id,developer_name_en,developer_name_th,...,facility_meeting,facility_park,facility_playground,facility_pool,facility_security,date_created,date_finish,date_updated,source,url_project
0,5ee08d64dda791001299b2a6,Winning Residence Sukhumvit Praksa,วินนิ่ง เรสซิเดนท์ สุขุมวิท แพรกษา,1,Detached House,บ้าน,3790000.0,developer_10678,"Winning Asset Plus Co., Ltd.",บริษัท วินนิ่ง แอสเซท พลัส จำกัด,...,0.0,0.0,0.0,1.0,1.0,2020-06-10 14:36:04,Unknown,2020-12-04 10:32:58,baania,https://baania.com/th/project/วินนิ่ง-เรสซิเดน...
1,project_11326,Gift Condominium,กิ๊ฟท์ คอนโดมิเนียม,2,Condo,คอนโด,1100000.0,developer_7319,"Gift Asset Land Co.,Ltd.",บริษัท กิฟท์ แอสเสท แลนด์ จำกัด,...,0.0,1.0,0.0,1.0,1.0,2017-10-30 15:38:48,2013-01-01 07:00:00,2020-12-04 10:49:00,baania,https://baania.com/th/project/กิ๊ฟท์-คอนโดมิเน...
2,62739c4089233e001362b001,Sanrak 9 Sukprayoon Nong Krathum,แสนรัก 9 ศุขประยูร หนองกระทุ่ม,3,Townhome,ทาวน์โฮม,0.0,developer_10510,Unknown,Unknown,...,0.0,0.0,0.0,0.0,0.0,2022-05-05 16:43:28,Unknown,2022-05-05 17:30:03,baania,https://baania.com/th/project/แสนรัก-9-ศุขประย...
3,project_2010,Baan Sansabai 1,บ้านแสนสบาย 1,1,Detached House,บ้าน,0.0,developer_10510,Unknown,Unknown,...,0.0,0.0,0.0,0.0,0.0,2016-09-05 15:32:15,1970-01-02 07:00:00,2020-12-04 10:45:31,baania,https://baania.com/th/project/บ้านแสนสบาย-1-pr...
4,project_16838,Baanpruksa Ratchapruek-345,บ้านพฤกษา ราชพฤกษ์-345,3,Townhome,ทาวน์โฮม,1930000.0,developer_1026,"Preuksa Real Estate Co.,Ltd.",บริษัท พฤกษา เรียลเอสเตท จำกัด (มหาชน),...,0.0,1.0,0.0,1.0,1.0,2019-09-05 11:49:37,1970-01-02 07:00:00,2021-03-17 12:00:04,baania,https://baania.com/th/project/บ้านพฤกษา-ราชพฤก...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23429,project_12317,Baan Klangmeung Urbanion Ladphrao-Chokchai 4,บ้านกลางเมือง เออร์บาเนี่ยน ลาดพร้าว-โชคชัย 4,3,Townhome,ทาวน์โฮม,5700000.0,developer_1760,"AP (Thailand) Co,. Ltd",บริษัท เอพี (ไทยแลนด์) จำกัด (มหาชน),...,0.0,1.0,1.0,0.0,1.0,2017-12-06 13:10:23,1970-01-02 07:00:00,2020-12-04 10:42:15,baania,https://baania.com/th/project/บ้านกลางเมือง-เอ...
23430,project_12057,@Home Kaset-Nawamin,แอทโฮม เกษตร-นวมินทร์,3,Townhome,ทาวน์โฮม,3590000.0,developer_1793,"Areeya Property Co.,Ltd.",บริษัท อารียา พรอพเพอร์ตี้ จำกัด (มหาชน),...,0.0,0.0,0.0,0.0,1.0,2017-11-30 11:12:12,1970-01-02 07:00:00,2022-06-06 16:30:06,baania,https://baania.com/th/project/แอทโฮม-เกษตร-นวม...
23431,project_4461,I-Design Wongwaen-Ramintra,ไอ-ดีไซน์ วงแหวน-รามอินทรา,4,Commercial,อาคารพาณิชย์,1870000.0,developer_2217,"Wangthong Group Pub Co., Ltd.",บริษัท วังทองกรุ๊ป จำกัด (มหาชน),...,0.0,1.0,1.0,0.0,1.0,2017-03-02 11:07:30,2014-12-31 07:00:00,2020-12-04 10:42:33,baania,https://baania.com/th/project/ไอ-ดีไซน์-วงแหวน...
23432,project_144,Koolpunt Ville 15 Park Avenue,กุลพันธ์วิลล์ 15 พาร์ค อเวนิว,1,Detached House,บ้าน,4000000.0,developer_1004,"Homeland Service Co., Ltd.",บริษัท โฮมแลนด์ เซอร์วิส จำกัด,...,0.0,1.0,1.0,1.0,1.0,2015-09-28 09:00:28,2020-01-01 07:00:00,2022-01-10 15:00:13,baania,https://baania.com/th/project/กุลพันธ์วิลล์-15...
23433,project_16300,Thawisuk Garden Home,ทวีสุข การ์เด้นโฮม,1,Detached House,บ้าน,2800000.0,developer_10510,Unknown,Unknown,...,0.0,0.0,0.0,0.0,0.0,2019-07-05 17:10:33,1970-01-02 07:00:00,2020-12-04 10:45:22,baania,https://baania.com/th/project/ทวีสุข-การ์เด้นโ...

In [1345]:
opendata_project.to_csv('opendata_project_C.csv', index=False)

##Data Clean Unittype

In [1346]:
opendata_unittype.columns

Index(['row_number', 'unittype_id', 'project_id', 'name_th', 'propertytype_id',
       'propertytype_name_en', 'propertytype_name_th', 'area_total_min_wa',
       'area_usable_min', 'price_min', 'count_airconditioner',
       'count_elevator', 'count_floor_internal', 'count_parking',
       'count_room_bath', 'count_room_bed', 'count_room_dinning',
       'count_room_guest', 'count_room_kitchen', 'count_room_living',
       'count_room_maid', 'count_room_storage', 'count_room_utility',
       'date_created', 'date_updated', 'source', 'url_unittype'],
      dtype='object')

In [1347]:
opendata_unittype = opendata_unittype[['unittype_id', 'project_id', 'name_th', 'propertytype_id',
       'propertytype_name_en', 'propertytype_name_th', 'area_total_min_wa',
       'area_usable_min', 'price_min', 'count_airconditioner',
       'count_elevator', 'count_floor_internal', 'count_parking',
       'count_room_bath', 'count_room_bed', 'count_room_dinning',
       'count_room_guest', 'count_room_kitchen', 'count_room_living',
       'count_room_maid', 'count_room_storage', 'count_room_utility',
       'date_created', 'date_updated', 'source', 'url_unittype']]
opendata_unittype

,unittype_id,project_id,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,area_total_min_wa,area_usable_min,price_min,count_airconditioner,...,count_room_guest,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility,date_created,date_updated,source,url_unittype
0,unittype_9565,project_2446,2 Bedroom,2,Condo,คอนโด,NaN,37.3,2500000.0,NaN,...,1.0,1.0,NaN,NaN,NaN,NaN,2021-11-19 18:00:09,2021-11-19 17:44:45,baania,https://baania.com/th/project/เฟ-ลิค-คอนโด-ลาด...
1,unittype_10267,project_3543,บ้านแฝดสองชั้น Z-2,20000,Twin house,บ้านแฝด,40.0,150.0,2390000.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-27 14:30:04,2022-01-27 14:22:55,baania,https://baania.com/th/project/เซน-บาย-ศิวาลัย-...
2,unittype_471,project_143,1 Bedroom Type B,2,Condo,คอนโด,NaN,28.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-14 15:00:10,2022-01-14 14:40:04,baania,https://baania.com/th/project/วันพลัส-นายน์ทีน...
3,unittype_19506,project_7766,Studio Floor 1-2,2,Condo,คอนโด,NaN,27.0,170000.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-04 10:40:59,2020-10-14 01:06:48,baania,https://baania.com/th/project/บ้านสวนชมน้ำ-776...
4,unittype_10290,project_3551,TH 3,3,Townhome,ทาวน์โฮม,NaN,182.0,2390000.0,NaN,...,1.0,1.0,NaN,NaN,2.0,NaN,2021-11-12 13:30:08,2021-02-03 12:12:54,baania,https://baania.com/th/project/เบล็สทาวน์-ศรีนค...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42620,unittype_38508,project_16864,Canola,1,Detached House,บ้าน,NaN,157.0,NaN,NaN,...,NaN,1.0,NaN,NaN,NaN,NaN,2021-11-12 13:22:37,2020-10-14 10:05:42,baania,https://baania.com/th/project/อิคอนเนเจอร์-พระ...
42621,unittype_14016,project_5275,Grandeur,1,Detached House,บ้าน,NaN,223.0,7490000.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-04 10:36:32,2020-10-14 00:37:51,baania,https://baania.com/th/project/คาซ่า-วิลล์-ราชพ...
42622,617bde1687dd2300149d2195,617bdd47f62011001350de07,Grande,3,Townhome,ทาวน์โฮม,NaN,133.0,NaN,NaN,...,1.0,NaN,NaN,NaN,NaN,NaN,2021-11-12 13:34:17,2021-10-29 18:43:09,baania,https://baania.com/th/project/เดอะริคโค้-ทาวน์...
42623,unittype_37375,project_16389,บ้านเดี่ยวชั้นเดียว,1,Detached House,บ้าน,NaN,180.0,3200000.0,NaN,...,NaN,1.0,NaN,NaN,NaN,NaN,2020-12-04 10:42:26,2020-10-14 19:30:46,baania,https://baania.com/th/project/ณรงค์กิจ-รามอินท...
42624,unittype_17011,project_6762,บ้านธารา,1,Detached House,บ้าน,NaN,170.0,3790000.0,NaN,...,1.0,1.0,NaN,NaN,NaN,NaN,2021-11-12 13:19:43,2020-10-14 00:41:39,baania,https://baania.com/th/project/วราสิริ-รังสิต-ด...

In [1348]:
opendata_unittype.dtypes

unittype_id              object
project_id               object
name_th                  object
propertytype_id           int64
propertytype_name_en     object
propertytype_name_th     object
area_total_min_wa       float64
area_usable_min         float64
price_min               float64
count_airconditioner    float64
count_elevator          float64
count_floor_internal    float64
count_parking           float64
count_room_bath         float64
count_room_bed          float64
count_room_dinning      float64
count_room_guest        float64
count_room_kitchen      float64
count_room_living       float64
count_room_maid         float64
count_room_storage      float64
count_room_utility      float64
date_created             object
date_updated             object
source                   object
url_unittype             object
dtype: object

Missing/Null Checking

In [1349]:
opendata_unittype.isnull().any()

unittype_id             False
project_id              False
name_th                  True
propertytype_id         False
propertytype_name_en    False
propertytype_name_th    False
area_total_min_wa        True
area_usable_min          True
price_min                True
count_airconditioner     True
count_elevator           True
count_floor_internal     True
count_parking            True
count_room_bath          True
count_room_bed           True
count_room_dinning       True
count_room_guest         True
count_room_kitchen       True
count_room_living        True
count_room_maid          True
count_room_storage       True
count_room_utility       True
date_created            False
date_updated            False
source                  False
url_unittype             True
dtype: bool

In [1350]:
opendata_unittype = opendata_unittype.dropna(subset=['price_min'])

In [1351]:
opendata_unittype['name_th'] = opendata_unittype['name_th'].fillna('Unknown')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [1352]:
opendata_unittype[['area_total_min_wa','area_usable_min','count_floor_internal']]  = opendata_unittype[['area_total_min_wa','area_usable_min','count_floor_internal']].fillna(1) 
# จำนวนห้อง, จำนวนลิฟต์, จำนวนแอร์
opendata_unittype[['count_airconditioner','count_elevator','count_parking','count_room_bath','count_room_bed','count_room_dinning','count_room_guest','count_room_kitchen','count_room_living','count_room_maid','count_room_storage','count_room_utility',]]  = opendata_unittype[['count_airconditioner','count_elevator','count_parking','count_room_bath','count_room_bed','count_room_dinning','count_room_guest','count_room_kitchen','count_room_living','count_room_maid','count_room_storage','count_room_utility',]].fillna(0)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [1353]:
opendata_unittype.to_csv('opendata_unittype_C.csv', index=False)

##Data Clean eating

In [1354]:
opendata_eating_score.columns

Index(['row_number', 'subdistrict_id', 'subdistrict_name_en',
       'subdistrict_name_th', 'district_id', 'district_name_en',
       'district_name_th', 'province_id', 'province_name_en',
       'province_name_th', 'eating_daytime', 'eating_daytime_price',
       'eating_daytime_quality', 'eating_daytime_variety', 'eating_nighttime',
       'eating_nighttime_price', 'eating_nighttime_quality',
       'eating_nighttime_variety', 'source', 'day'],
      dtype='object')

In [1355]:
opecdata_eating_score = opendata_eating_score[['subdistrict_id', 'subdistrict_name_en',
       'subdistrict_name_th', 'district_id', 'district_name_en',
       'district_name_th', 'province_id', 'province_name_en',
       'province_name_th', 'eating_daytime', 'eating_daytime_price',
       'eating_daytime_quality', 'eating_daytime_variety', 'eating_nighttime',
       'eating_nighttime_price', 'eating_nighttime_quality',
       'eating_nighttime_variety', 'source', 'day']]

In [1356]:
opecdata_eating_score.head()

,subdistrict_id,subdistrict_name_en,subdistrict_name_th,district_id,district_name_en,district_name_th,province_id,province_name_en,province_name_th,eating_daytime,eating_daytime_price,eating_daytime_quality,eating_daytime_variety,eating_nighttime,eating_nighttime_price,eating_nighttime_quality,eating_nighttime_variety,source,day
0,4001,HUAI KHWANG,ห้วยขวาง,4000,HUAI KHWANG,ห้วยขวาง,3781,Bangkok,กรุงเทพมหานคร,66.0,72.0,49.0,92.0,75.0,68.0,54.0,94.0,baania,2022-08-31
1,2632,THEP KRASATTRI,เทพกระษัตรี,2630,THALANG,ถลาง,2616,Phuket,ภูเก็ต,35.0,37.0,30.0,45.0,38.0,28.0,28.0,51.0,baania,2022-08-31
2,3509,PAK NAM,ปากน้ำ,3499,MUEANG SAMUT PRAKAN,เมืองสมุทรปราการ,3498,Samut Prakan,สมุทรปราการ,70.0,84.0,55.0,79.0,65.0,72.0,57.0,67.0,baania,2022-08-31
3,4628,SAMET,เสม็ด,4617,MUEANG CHON BURI,เมืองชลบุรี,4616,Chon Buri,ชลบุรี,68.0,67.0,56.0,97.0,69.0,41.0,54.0,94.0,baania,2022-08-31
4,1166,TON PAO,ต้นเปา,1164,SAN KAMPHAENG,สันกำแพง,1005,Chiang Mai,เชียงใหม่,44.0,36.0,47.0,51.0,47.0,22.0,61.0,52.0,baania,2022-08-31

Missing/Null Checking

In [1357]:
opecdata_eating_score.isnull().any()

subdistrict_id              False
subdistrict_name_en         False
subdistrict_name_th         False
district_id                 False
district_name_en            False
district_name_th            False
province_id                 False
province_name_en            False
province_name_th            False
eating_daytime              False
eating_daytime_price        False
eating_daytime_quality      False
eating_daytime_variety      False
eating_nighttime            False
eating_nighttime_price      False
eating_nighttime_quality    False
eating_nighttime_variety    False
source                      False
day                         False
dtype: bool

In [1358]:
opecdata_eating_score.dtypes

subdistrict_id                int64
subdistrict_name_en          object
subdistrict_name_th          object
district_id                   int64
district_name_en             object
district_name_th             object
province_id                   int64
province_name_en             object
province_name_th             object
eating_daytime              float64
eating_daytime_price        float64
eating_daytime_quality      float64
eating_daytime_variety      float64
eating_nighttime            float64
eating_nighttime_price      float64
eating_nighttime_quality    float64
eating_nighttime_variety    float64
source                       object
day                          object
dtype: object

In [1359]:
opecdata_eating_score.to_csv('opecdata_eating_score_C.csv', index=False)

##Data Clean living

In [1360]:
opendata_living_score.columns

Index(['row_number', 'subdistrict_id', 'subdistrict_name_en',
       'subdistrict_name_th', 'district_id', 'district_name_en',
       'district_name_th', 'province_id', 'province_name_en',
       'province_name_th', 'walk_leisure', 'walk_public_service',
       'walk_school', 'walk_shopping', 'walk_work', 'walk_total',
       'access_boat', 'access_bus', 'access_train', 'access_total',
       'drive_leisure', 'drive_public_service', 'drive_school',
       'drive_shopping', 'drive_work', 'drive_total', 'source', 'day'],
      dtype='object')

In [1361]:
opendata_living_score = opendata_living_score[['subdistrict_id', 'subdistrict_name_en',
       'subdistrict_name_th', 'district_id', 'district_name_en',
       'district_name_th', 'province_id', 'province_name_en',
       'province_name_th', 'walk_leisure', 'walk_public_service',
       'walk_school', 'walk_shopping', 'walk_work', 'walk_total',
       'access_boat', 'access_bus', 'access_train', 'access_total',
       'drive_leisure', 'drive_public_service', 'drive_school',
       'drive_shopping', 'drive_work', 'drive_total', 'source', 'day']]

Missing/Null Checking

In [1362]:
opendata_living_score.isnull().any()

subdistrict_id          False
subdistrict_name_en     False
subdistrict_name_th     False
district_id             False
district_name_en        False
district_name_th        False
province_id             False
province_name_en        False
province_name_th        False
walk_leisure            False
walk_public_service     False
walk_school             False
walk_shopping           False
walk_work               False
walk_total              False
access_boat             False
access_bus              False
access_train            False
access_total            False
drive_leisure           False
drive_public_service    False
drive_school            False
drive_shopping          False
drive_work              False
drive_total             False
source                  False
day                     False
dtype: bool

In [1363]:
opendata_living_score.dtypes

subdistrict_id            int64
subdistrict_name_en      object
subdistrict_name_th      object
district_id               int64
district_name_en         object
district_name_th         object
province_id               int64
province_name_en         object
province_name_th         object
walk_leisure            float64
walk_public_service     float64
walk_school             float64
walk_shopping           float64
walk_work               float64
walk_total              float64
access_boat             float64
access_bus              float64
access_train            float64
access_total            float64
drive_leisure           float64
drive_public_service    float64
drive_school            float64
drive_shopping          float64
drive_work              float64
drive_total             float64
source                   object
day                      object
dtype: object

In [1364]:
opendata_living_score.to_csv('opendata_living_score_C.csv', index=False)

##Data Clean interest

In [1365]:
opendata_interest.columns

Index(['row_number', 'transction_year', 'transction_month', 'province_name_th',
       'province_name_en', 'district_name_th', 'district_name_en',
       'propertytype_name_th', 'propertytype_name_en', 'volume_of_project',
       'interest', 'day'],
      dtype='object')

In [1366]:
opendata_interest = opendata_interest[['transction_year', 'transction_month', 'province_name_th',
       'province_name_en', 'district_name_th', 'district_name_en',
       'propertytype_name_th', 'propertytype_name_en', 'volume_of_project',
       'interest', 'day']]

In [1367]:
opendata_interest.head()

,transction_year,transction_month,province_name_th,province_name_en,district_name_th,district_name_en,propertytype_name_th,propertytype_name_en,volume_of_project,interest,day
0,2020,1,นนทบุรี,Nonthaburi,บางใหญ่,BANG YAI,ทาวน์โฮม,Townhome,25,189,31/10/2022
1,2021,3,กรุงเทพมหานคร,Bangkok,จตุจักร,CHATUCHAK,บ้านแฝด,Twin house,8,45,31/10/2022
2,2019,7,กรุงเทพมหานคร,Bangkok,จตุจักร,CHATUCHAK,คอนโด,Condo,46,131,31/10/2022
3,2019,2,นนทบุรี,Nonthaburi,บางบัวทอง,BANG BUA THONG,บ้าน,Detached House,27,562,31/10/2022
4,2019,9,นนทบุรี,Nonthaburi,ปากเกร็ด,PAK KRET,บ้าน,Detached House,38,381,31/10/2022

Missing/Null Checking

In [1368]:
opendata_interest.isnull().any()

transction_year         False
transction_month        False
province_name_th        False
province_name_en        False
district_name_th        False
district_name_en        False
propertytype_name_th    False
propertytype_name_en    False
volume_of_project       False
interest                False
day                     False
dtype: bool

In [1369]:
opendata_interest.dtypes

transction_year          int64
transction_month         int64
province_name_th        object
province_name_en        object
district_name_th        object
district_name_en        object
propertytype_name_th    object
propertytype_name_en    object
volume_of_project        int64
interest                 int64
day                     object
dtype: object

In [1370]:
opendata_interest.to_csv('opendata_interest_C.csv', index=False)

##รวมตาราง

In [1371]:
import pandas as pd
opendata_project_C = pd.read_csv('opendata_project_C.csv')
opendata_unittype_C = pd.read_csv('opendata_unittype_C.csv')
opecdata_eating_score_C = pd.read_csv('opecdata_eating_score_C.csv')
opendata_living_score_C = pd.read_csv('opendata_living_score_C.csv')
opendata_interest_C = pd.read_csv('opendata_interest_C.csv')

##1] รวมตาราง opendata_unittype_C เข้ากับ opendata_project_C

In [1372]:
opendata_unittype_C.columns

Index(['unittype_id', 'project_id', 'name_th', 'propertytype_id',
       'propertytype_name_en', 'propertytype_name_th', 'area_total_min_wa',
       'area_usable_min', 'price_min', 'count_airconditioner',
       'count_elevator', 'count_floor_internal', 'count_parking',
       'count_room_bath', 'count_room_bed', 'count_room_dinning',
       'count_room_guest', 'count_room_kitchen', 'count_room_living',
       'count_room_maid', 'count_room_storage', 'count_room_utility',
       'date_created', 'date_updated', 'source', 'url_unittype'],
      dtype='object')

In [1373]:
opendata_unittype_C = opendata_unittype_C[['project_id',
       'propertytype_name_en', 'propertytype_name_th', 
       'price_min']]
opendata_unittype_C.head(3)

     project_id propertytype_name_en propertytype_name_th  price_min
0  project_2446                Condo                คอนโด  2500000.0
1  project_3543           Twin house              บ้านแฝด  2390000.0
2  project_7766                Condo                คอนโด   170000.0

In [1374]:
opendata_unittype_C.rename(columns={'price_min': 'price_min_Unit' , 'name_th': 'name_th_Unit'}, inplace=True)
opendata_unittype_C.head(3)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:5047: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

     project_id propertytype_name_en propertytype_name_th  price_min_Unit
0  project_2446                Condo                คอนโด       2500000.0
1  project_3543           Twin house              บ้านแฝด       2390000.0
2  project_7766                Condo                คอนโด        170000.0

In [1375]:
opendata_project_C.columns

Index(['project_id', 'name_en', 'name_th', 'propertytype_id',
       'propertytype_name_en', 'propertytype_name_th', 'price_min',
       'developer_id', 'developer_name_en', 'developer_name_th', 'latitude',
       'longitude', 'neighborhood_id', 'neighborhood_name_en',
       'neighborhood_name_th', 'subdistrict_id', 'subdistrict_name_en',
       'subdistrict_name_th', 'district_id', 'district_name_en',
       'district_name_th', 'province_id', 'province_name_en',
       'province_name_th', 'zipcode', 'count_elevator',
       'count_elevator_service', 'count_floor', 'count_parking', 'count_tower',
       'count_unit', 'count_unittype', 'facility_clubhouse',
       'facility_fitness', 'facility_meeting', 'facility_park',
       'facility_playground', 'facility_pool', 'facility_security',
       'date_created', 'date_finish', 'date_updated', 'source', 'url_project'],
      dtype='object')

In [1376]:
opendata_project_C = opendata_project_C[['project_id', 'name_en', 'name_th','price_min',
       'province_id','latitude','subdistrict_id','province_name_en',
       'province_name_th','longitude', 'neighborhood_name_en',
       'neighborhood_name_th','district_id', 'subdistrict_name_en',
       'subdistrict_name_th', 'province_name_en','district_name_en','district_name_th',
       'province_name_th']]
opendata_project_C.head(3)

,project_id,name_en,name_th,price_min,province_id,latitude,subdistrict_id,province_name_en,province_name_th,longitude,neighborhood_name_en,neighborhood_name_th,district_id,subdistrict_name_en,subdistrict_name_th,province_name_en,district_name_en,district_name_th,province_name_th
0,5ee08d64dda791001299b2a6,Winning Residence Sukhumvit Praksa,วินนิ่ง เรสซิเดนท์ สุขุมวิท แพรกษา,3790000.0,3498.0,13.570530,3510.0,Samut Prakan,สมุทรปราการ,100.669356,MANGKON NAKDEE,มังกรนาคดี,3499.0,PHRAEKSA,แพรกษา,Samut Prakan,MUEANG SAMUT PRAKAN,เมืองสมุทรปราการ,สมุทรปราการ
1,project_11326,Gift Condominium,กิ๊ฟท์ คอนโดมิเนียม,1100000.0,4616.0,13.033814,4700.0,Chon Buri,ชลบุรี,101.080739,BO WIN,บ่อวิน,4696.0,BO WIN,บ่อวิน,Chon Buri,SI RACHA,ศรีราชา,ชลบุรี
2,62739c4089233e001362b001,Sanrak 9 Sukprayoon Nong Krathum,แสนรัก 9 ศุขประยูร หนองกระทุ่ม,0.0,4616.0,13.417402,4672.0,Chon Buri,ชลบุรี,101.090080,NONG TAMLUENG,หนองตำลึง,4663.0,NONG TAMLUENG,หนองตำลึง,Chon Buri,PHAN THONG,พานทอง,ชลบุรี

In [1377]:
opendata_project_C.rename(columns={'price_min': 'price_min_Project' , 'name_th' : 'name_th_Project'}, inplace=True)
opendata_project_C

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:5047: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,project_id,name_en,name_th_Project,price_min_Project,province_id,latitude,subdistrict_id,province_name_en,province_name_th,longitude,neighborhood_name_en,neighborhood_name_th,district_id,subdistrict_name_en,subdistrict_name_th,province_name_en,district_name_en,district_name_th,province_name_th
0,5ee08d64dda791001299b2a6,Winning Residence Sukhumvit Praksa,วินนิ่ง เรสซิเดนท์ สุขุมวิท แพรกษา,3790000.0,3498.0,13.570530,3510.0,Samut Prakan,สมุทรปราการ,100.669356,MANGKON NAKDEE,มังกรนาคดี,3499.0,PHRAEKSA,แพรกษา,Samut Prakan,MUEANG SAMUT PRAKAN,เมืองสมุทรปราการ,สมุทรปราการ
1,project_11326,Gift Condominium,กิ๊ฟท์ คอนโดมิเนียม,1100000.0,4616.0,13.033814,4700.0,Chon Buri,ชลบุรี,101.080739,BO WIN,บ่อวิน,4696.0,BO WIN,บ่อวิน,Chon Buri,SI RACHA,ศรีราชา,ชลบุรี
2,62739c4089233e001362b001,Sanrak 9 Sukprayoon Nong Krathum,แสนรัก 9 ศุขประยูร หนองกระทุ่ม,0.0,4616.0,13.417402,4672.0,Chon Buri,ชลบุรี,101.090080,NONG TAMLUENG,หนองตำลึง,4663.0,NONG TAMLUENG,หนองตำลึง,Chon Buri,PHAN THONG,พานทอง,ชลบุรี
3,project_2010,Baan Sansabai 1,บ้านแสนสบาย 1,0.0,2857.0,15.038042,2861.0,Nakhon Ratchasima,นครราชสีมา,102.143837,BUENG THAP CHANG,บึงทับช้าง,2858.0,CHO HO,จอหอ,Nakhon Ratchasima,MUEANG NAKHON RATCHASIMA,เมืองนครราชสีมา,นครราชสีมา
4,project_16838,Baanpruksa Ratchapruek-345,บ้านพฤกษา ราชพฤกษ์-345,1930000.0,3599.0,13.965246,3603.0,Pathum Thani,ปทุมธานี,100.483435,BANG DUEA,บางเดื่อ,3600.0,BANG KHU WAT,บางคูวัด,Pathum Thani,MUEANG PATHUM THANI,เมืองปทุมธานี,ปทุมธานี
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23273,project_12317,Baan Klangmeung Urbanion Ladphrao-Chokchai 4,บ้านกลางเมือง เออร์บาเนี่ยน ลาดพร้าว-โชคชัย 4,5700000.0,3781.0,13.814468,3958.0,Bangkok,กรุงเทพมหานคร,100.591091,LAT PHRAO,ลาดพร้าว,3957.0,LAT PHRAO,ลาดพร้าว,Bangkok,LAT PHRAO,ลาดพร้าว,กรุงเทพมหานคร
23274,project_12057,@Home Kaset-Nawamin,แอทโฮม เกษตร-นวมินทร์,3590000.0,3781.0,13.834361,3958.0,Bangkok,กรุงเทพมหานคร,100.618894,KASET NAWA MIN,เกษตรนวมินทร์,3957.0,LAT PHRAO,ลาดพร้าว,Bangkok,LAT PHRAO,ลาดพร้าว,กรุงเทพมหานคร
23275,project_4461,I-Design Wongwaen-Ramintra,ไอ-ดีไซน์ วงแหวน-รามอินทรา,1870000.0,3781.0,13.859872,3794.0,Bangkok,กรุงเทพมหานคร,100.702337,KHANNAYAO,คันนายาว,3791.0,BANG CHAN,บางชัน,Bangkok,KHLONG SAM WA,คลองสามวา,กรุงเทพมหานคร
23276,project_144,Koolpunt Ville 15 Park Avenue,กุลพันธ์วิลล์ 15 พาร์ค อเวนิว,4000000.0,1005.0,18.808447,1067.0,Chiang Mai,เชียงใหม่,99.058695,SAN PU LOEI NUEA,สันปูเลยเหนือ,1054.0,SAN PU LOEI,สันปูเลย,Chiang Mai,DOI SAKET,ดอยสะเก็ด,เชียงใหม่
23277,project_16300,Thawisuk Garden Home,ทวีสุข การ์เด้นโฮม,2800000.0,3431.0,12.684945,3483.0,Rayong,ระยอง,101.066167,HAT PHLA,หาดพลา,3482.0,BAN CHANG,บ้านฉาง,Rayong,BAN CHANG,บ้านฉาง,ระยอง

In [1378]:
table_merge = opendata_project_C.merge(opendata_unittype_C, how ='left', left_on='project_id',right_on='project_id') 
print(table_merge.shape)

(45924, 22)

In [1379]:
table_merge

,project_id,name_en,name_th_Project,price_min_Project,province_id,latitude,subdistrict_id,province_name_en,province_name_th,longitude,...,district_id,subdistrict_name_en,subdistrict_name_th,province_name_en,district_name_en,district_name_th,province_name_th,propertytype_name_en,propertytype_name_th,price_min_Unit
0,5ee08d64dda791001299b2a6,Winning Residence Sukhumvit Praksa,วินนิ่ง เรสซิเดนท์ สุขุมวิท แพรกษา,3790000.0,3498.0,13.570530,3510.0,Samut Prakan,สมุทรปราการ,100.669356,...,3499.0,PHRAEKSA,แพรกษา,Samut Prakan,MUEANG SAMUT PRAKAN,เมืองสมุทรปราการ,สมุทรปราการ,Detached House,บ้าน,4790000.0
1,5ee08d64dda791001299b2a6,Winning Residence Sukhumvit Praksa,วินนิ่ง เรสซิเดนท์ สุขุมวิท แพรกษา,3790000.0,3498.0,13.570530,3510.0,Samut Prakan,สมุทรปราการ,100.669356,...,3499.0,PHRAEKSA,แพรกษา,Samut Prakan,MUEANG SAMUT PRAKAN,เมืองสมุทรปราการ,สมุทรปราการ,Twin house,บ้านแฝด,3790000.0
2,project_11326,Gift Condominium,กิ๊ฟท์ คอนโดมิเนียม,1100000.0,4616.0,13.033814,4700.0,Chon Buri,ชลบุรี,101.080739,...,4696.0,BO WIN,บ่อวิน,Chon Buri,SI RACHA,ศรีราชา,ชลบุรี,Condo,คอนโด,2450000.0
3,project_11326,Gift Condominium,กิ๊ฟท์ คอนโดมิเนียม,1100000.0,4616.0,13.033814,4700.0,Chon Buri,ชลบุรี,101.080739,...,4696.0,BO WIN,บ่อวิน,Chon Buri,SI RACHA,ศรีราชา,ชลบุรี,Condo,คอนโด,1100000.0
4,62739c4089233e001362b001,Sanrak 9 Sukprayoon Nong Krathum,แสนรัก 9 ศุขประยูร หนองกระทุ่ม,0.0,4616.0,13.417402,4672.0,Chon Buri,ชลบุรี,101.090080,...,4663.0,NONG TAMLUENG,หนองตำลึง,Chon Buri,PHAN THONG,พานทอง,ชลบุรี,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45919,project_144,Koolpunt Ville 15 Park Avenue,กุลพันธ์วิลล์ 15 พาร์ค อเวนิว,4000000.0,1005.0,18.808447,1067.0,Chiang Mai,เชียงใหม่,99.058695,...,1054.0,SAN PU LOEI,สันปูเลย,Chiang Mai,DOI SAKET,ดอยสะเก็ด,เชียงใหม่,Detached House,บ้าน,4087500.0
45920,project_144,Koolpunt Ville 15 Park Avenue,กุลพันธ์วิลล์ 15 พาร์ค อเวนิว,4000000.0,1005.0,18.808447,1067.0,Chiang Mai,เชียงใหม่,99.058695,...,1054.0,SAN PU LOEI,สันปูเลย,Chiang Mai,DOI SAKET,ดอยสะเก็ด,เชียงใหม่,Detached House,บ้าน,12950000.0
45921,project_144,Koolpunt Ville 15 Park Avenue,กุลพันธ์วิลล์ 15 พาร์ค อเวนิว,4000000.0,1005.0,18.808447,1067.0,Chiang Mai,เชียงใหม่,99.058695,...,1054.0,SAN PU LOEI,สันปูเลย,Chiang Mai,DOI SAKET,ดอยสะเก็ด,เชียงใหม่,Detached House,บ้าน,5250000.0
45922,project_144,Koolpunt Ville 15 Park Avenue,กุลพันธ์วิลล์ 15 พาร์ค อเวนิว,4000000.0,1005.0,18.808447,1067.0,Chiang Mai,เชียงใหม่,99.058695,...,1054.0,SAN PU LOEI,สันปูเลย,Chiang Mai,DOI SAKET,ดอยสะเก็ด,เชียงใหม่,Detached House,บ้าน,4246250.0
45923,project_16300,Thawisuk Garden Home,ทวีสุข การ์เด้นโฮม,2800000.0,3431.0,12.684945,3483.0,Rayong,ระยอง,101.066167,...,3482.0,BAN CHANG,บ้านฉาง,Rayong,BAN CHANG,บ้านฉาง,ระยอง,Detached House,บ้าน,2800000.0

In [1380]:
table_merge.isnull().any()

project_id              False
name_en                 False
name_th_Project         False
price_min_Project       False
province_id             False
latitude                False
subdistrict_id          False
province_name_en        False
province_name_th        False
longitude               False
neighborhood_name_en    False
neighborhood_name_th    False
district_id             False
subdistrict_name_en     False
subdistrict_name_th     False
province_name_en        False
district_name_en        False
district_name_th        False
province_name_th        False
propertytype_name_en     True
propertytype_name_th     True
price_min_Unit           True
dtype: bool

##  2] รวมตาราง table_merge เข้ากับ opecdata_eating_score_C

In [1381]:
table_merge.columns

Index(['project_id', 'name_en', 'name_th_Project', 'price_min_Project',
       'province_id', 'latitude', 'subdistrict_id', 'province_name_en',
       'province_name_th', 'longitude', 'neighborhood_name_en',
       'neighborhood_name_th', 'district_id', 'subdistrict_name_en',
       'subdistrict_name_th', 'province_name_en', 'district_name_en',
       'district_name_th', 'province_name_th', 'propertytype_name_en',
       'propertytype_name_th', 'price_min_Unit'],
      dtype='object')

In [1382]:
opecdata_eating_score_C.columns

Index(['subdistrict_id', 'subdistrict_name_en', 'subdistrict_name_th',
       'district_id', 'district_name_en', 'district_name_th', 'province_id',
       'province_name_en', 'province_name_th', 'eating_daytime',
       'eating_daytime_price', 'eating_daytime_quality',
       'eating_daytime_variety', 'eating_nighttime', 'eating_nighttime_price',
       'eating_nighttime_quality', 'eating_nighttime_variety', 'source',
       'day'],
      dtype='object')

In [1383]:
opecdata_eating_score_C = opecdata_eating_score_C[['subdistrict_id','eating_daytime','eating_daytime_price','district_id','province_id', 'eating_daytime_quality','eating_daytime_variety', 'eating_nighttime', 
       'eating_nighttime_price', 'eating_nighttime_quality', 'eating_nighttime_variety']]
opecdata_eating_score_C

,subdistrict_id,eating_daytime,eating_daytime_price,district_id,province_id,eating_daytime_quality,eating_daytime_variety,eating_nighttime,eating_nighttime_price,eating_nighttime_quality,eating_nighttime_variety
0,4001,66.0,72.0,4000,3781,49.0,92.0,75.0,68.0,54.0,94.0
1,2632,35.0,37.0,2630,2616,30.0,45.0,38.0,28.0,28.0,51.0
2,3509,70.0,84.0,3499,3498,55.0,79.0,65.0,72.0,57.0,67.0
3,4628,68.0,67.0,4617,4616,56.0,97.0,69.0,41.0,54.0,94.0
4,1166,44.0,36.0,1164,1005,47.0,51.0,47.0,22.0,61.0,52.0
...,...,...,...,...,...,...,...,...,...,...,...
549,3726,65.0,68.0,3719,3667,56.0,76.0,64.0,71.0,64.0,61.0
550,3476,44.0,42.0,3474,3431,53.0,27.0,38.0,54.0,55.0,17.0
551,1015,66.0,58.0,1006,1005,68.0,72.0,64.0,49.0,68.0,70.0
552,1020,69.0,58.0,1006,1005,67.0,91.0,72.0,46.0,67.0,89.0
553,1165,34.0,38.0,1164,1005,35.0,26.0,32.0,32.0,49.0,19.0

In [1384]:
len(set(opecdata_eating_score_C['province_id']))

10

In [1385]:
len(set(table_merge['province_id']))

72

In [1386]:
table_merge2 = table_merge.merge(opecdata_eating_score_C, how ='left', left_on=['subdistrict_id','district_id','province_id'], right_on=['subdistrict_id','district_id','province_id']) 
print(table_merge2.shape)

(45924, 30)

In [1387]:
table_merge2

,project_id,name_en,name_th_Project,price_min_Project,province_id,latitude,subdistrict_id,province_name_en,province_name_th,longitude,...,propertytype_name_th,price_min_Unit,eating_daytime,eating_daytime_price,eating_daytime_quality,eating_daytime_variety,eating_nighttime,eating_nighttime_price,eating_nighttime_quality,eating_nighttime_variety
0,5ee08d64dda791001299b2a6,Winning Residence Sukhumvit Praksa,วินนิ่ง เรสซิเดนท์ สุขุมวิท แพรกษา,3790000.0,3498.0,13.570530,3510.0,Samut Prakan,สมุทรปราการ,100.669356,...,บ้าน,4790000.0,60.0,83.0,45.0,51.0,48.0,73.0,47.0,35.0
1,5ee08d64dda791001299b2a6,Winning Residence Sukhumvit Praksa,วินนิ่ง เรสซิเดนท์ สุขุมวิท แพรกษา,3790000.0,3498.0,13.570530,3510.0,Samut Prakan,สมุทรปราการ,100.669356,...,บ้านแฝด,3790000.0,60.0,83.0,45.0,51.0,48.0,73.0,47.0,35.0
2,project_11326,Gift Condominium,กิ๊ฟท์ คอนโดมิเนียม,1100000.0,4616.0,13.033814,4700.0,Chon Buri,ชลบุรี,101.080739,...,คอนโด,2450000.0,41.0,39.0,28.0,73.0,48.0,26.0,32.0,71.0
3,project_11326,Gift Condominium,กิ๊ฟท์ คอนโดมิเนียม,1100000.0,4616.0,13.033814,4700.0,Chon Buri,ชลบุรี,101.080739,...,คอนโด,1100000.0,41.0,39.0,28.0,73.0,48.0,26.0,32.0,71.0
4,62739c4089233e001362b001,Sanrak 9 Sukprayoon Nong Krathum,แสนรัก 9 ศุขประยูร หนองกระทุ่ม,0.0,4616.0,13.417402,4672.0,Chon Buri,ชลบุรี,101.090080,...,NaN,NaN,44.0,52.0,36.0,50.0,43.0,32.0,36.0,54.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45919,project_144,Koolpunt Ville 15 Park Avenue,กุลพันธ์วิลล์ 15 พาร์ค อเวนิว,4000000.0,1005.0,18.808447,1067.0,Chiang Mai,เชียงใหม่,99.058695,...,บ้าน,4087500.0,47.0,38.0,53.0,49.0,56.0,32.0,66.0,63.0
45920,project_144,Koolpunt Ville 15 Park Avenue,กุลพันธ์วิลล์ 15 พาร์ค อเวนิว,4000000.0,1005.0,18.808447,1067.0,Chiang Mai,เชียงใหม่,99.058695,...,บ้าน,12950000.0,47.0,38.0,53.0,49.0,56.0,32.0,66.0,63.0
45921,project_144,Koolpunt Ville 15 Park Avenue,กุลพันธ์วิลล์ 15 พาร์ค อเวนิว,4000000.0,1005.0,18.808447,1067.0,Chiang Mai,เชียงใหม่,99.058695,...,บ้าน,5250000.0,47.0,38.0,53.0,49.0,56.0,32.0,66.0,63.0
45922,project_144,Koolpunt Ville 15 Park Avenue,กุลพันธ์วิลล์ 15 พาร์ค อเวนิว,4000000.0,1005.0,18.808447,1067.0,Chiang Mai,เชียงใหม่,99.058695,...,บ้าน,4246250.0,47.0,38.0,53.0,49.0,56.0,32.0,66.0,63.0
45923,project_16300,Thawisuk Garden Home,ทวีสุข การ์เด้นโฮม,2800000.0,3431.0,12.684945,3483.0,Rayong,ระยอง,101.066167,...,บ้าน,2800000.0,47.0,43.0,39.0,72.0,46.0,42.0,40.0,52.0

Missing/Null Checking

In [1388]:
table_merge2.isnull().any()

project_id                  False
name_en                     False
name_th_Project             False
price_min_Project           False
province_id                 False
latitude                    False
subdistrict_id              False
province_name_en            False
province_name_th            False
longitude                   False
neighborhood_name_en        False
neighborhood_name_th        False
district_id                 False
subdistrict_name_en         False
subdistrict_name_th         False
province_name_en            False
district_name_en            False
district_name_th            False
province_name_th            False
propertytype_name_en         True
propertytype_name_th         True
price_min_Unit               True
eating_daytime               True
eating_daytime_price         True
eating_daytime_quality       True
eating_daytime_variety       True
eating_nighttime             True
eating_nighttime_price       True
eating_nighttime_quality     True
eating_nighttime_variety     True
dtype: bool

In [1389]:
print(len(table_merge2[table_merge2['eating_daytime'].isnull()]))

8626

In [1390]:
len(table_merge2)

45924

In [1391]:
opendata_project['propertytype_name_en'] = opendata_project['propertytype_name_en'].fillna('Unknown')
opendata_project['propertytype_name_th'] = opendata_project['propertytype_name_th'].fillna('Unknown')

In [1392]:
table_merge2 = table_merge2.fillna(0)

In [1393]:
table_merge2.isnull().any()

project_id                  False
name_en                     False
name_th_Project             False
price_min_Project           False
province_id                 False
latitude                    False
subdistrict_id              False
province_name_en            False
province_name_th            False
longitude                   False
neighborhood_name_en        False
neighborhood_name_th        False
district_id                 False
subdistrict_name_en         False
subdistrict_name_th         False
province_name_en            False
district_name_en            False
district_name_th            False
province_name_th            False
propertytype_name_en        False
propertytype_name_th        False
price_min_Unit              False
eating_daytime              False
eating_daytime_price        False
eating_daytime_quality      False
eating_daytime_variety      False
eating_nighttime            False
eating_nighttime_price      False
eating_nighttime_quality    False
eating_nighttime_variety    False
dtype: bool

##  3] รวมตาราง table_merge2 เข้ากับ opendata_living_score_clean